/*From large Phones to small tablets: From 481px to 1023px*/
@media only screen and (max-width: 1023px ) {
    body { 
        font-size: 1rem;
        padding: 1.5rem 1.5rem; 
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
        padding: 0.6rem 0;
    }
    
    h3 {
        font-size: 1rem;
    }

    .contact li {
        display: block;
        text-align: right;
        padding: 0.4rem;
    }    
    
    .resume__page { 
        display: block;
        padding: 1.5rem;
    }
}
